<div id="profile" class="content_2">
    <!-- .title -->
    <h1 class="h-bloc">{{ __('profile_title') }}</h1>

    <div class="row top-p">
        <div class="col-md-6 profile-l">

            <!--About me-->
            <div class="title_content">
                <div class="text_content">{{ __('w_profile_name') }}</div>
                <div class="clear"></div>
            </div>

            <ul class="about">

                <li>
                    <i class="glyphicon glyphicon-calendar"></i>
                    <label>{{ __('profile_birth_title') }}</label>
                    <span class="value">{{ __('profile_birth_value') }}</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <label>{{ __('profile_location_title') }}</label>
                    <span class="value">{{ __('profile_location_value') }}</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <label>Email</label>
                    <span class="value">mailys.dussert@gmail.com</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-phone"></i>
                    <label>{{ __('profile_phone_title') }}</label>
                    <span class="value">06 12 34 56 78</span>
                    <div class="clear"></div>
                </li>

                <li>
                    <i class="glyphicon glyphicon-globe"></i>
                    <label>Website</label>
                    <span class="value">
                        <a href="http://www.mailys-dussert.com" target="_blank">
                            www.mailys-dussert.com
                        </a>
                    </span>
                    <div class="clear"></div>
                </li>

            </ul>


            <p style="margin-bottom:20px">
                <i class="fa fa-quote-left"></i>
                {{ __('profile_desc_1') }}
            </p>

            <p style="margin-bottom:20px">
                <i class="fa fa-quote-left"></i>
                {{ __('profile_desc_2') }}
            </p>

        </div>
        <!-- End left-wrap -->

        <div class="col-md-6 profile-r">

            <div class="cycle-slideshow">
                <img src="../images/sephora_hd.png" alt="" />
                <img src="../images/logo-ece.jpg" alt="" />
                <img src="../images/ium.png" alt="" />
            </div>

        </div>

    </div>

    <div class="clear"></div>


    <div class="row" id="services">
        <div class="col-md-12">
            <div class="title_content">
                <div class="text_content">{{ __('service_title') }}</div>
                <div class="clear"></div>
            </div>


            <div class="col-md-4 pack-service">
                <div class="service">
                    <div class="service-icon"><i class="fa fa-eye"></i></div>
                    <div class="service-detail">
                        <h6>{{ __('service_cosmetic_title') }}</h6>
                        <p>{{ __('service_cosmetic_value') }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pack-service">
                <div class="service">
                    <div class="service-icon"><i class="fa fa-star"></i></div>
                    <div class="service-detail">
                        <h6>{{ __('service_luxe_title') }}</h6>
                        <p>{{ __('service_luxe_value') }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pack-service">
                <div class="service">
                    <div class="service-icon"><i class="fa fa-group"></i></div>
                    <div class="service-detail">
                        <h6>{{ __('service_fun_title') }}</h6>
                        <p>{{ __('service_fun_value') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Services -->


    <div class="clear"></div>
    <div class="border-list"></div>
    {#
    <div class="row">
        <div class="col-md-12">
            <div class="bottom-p">
                <div class="title_content">
                    <div class="text_content">My Services 2</div>
                    <div class="clear"></div>
                </div>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                                    Making Money
                                    <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                                    Easy to Customize
                                    <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapse_tabs">
                                    Moving Let Us Help
                                    <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <i class="fa fa-quote-left"></i>  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #}
    <div class="clear"></div>

</div>