<div class="col-md-3 widget-profil">
    <div class="row">

        <!-- Profile Image -->
        <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12 ">

            <div class="image-holder one" id="pic_prof_1"  style="display:none">

                <img class="head-image up circle" src="/images/avatar_main.jpg" width="150" height="150" alt="" />
                <img class="head-image up-left circle" src="/images/avatar_main.jpg" width="150" height="150" alt="" />
                <img class="head-image left circle" src="/images/avatar_main.jpg" width="150" height="150" alt="" />
                <img class="head-image down-left circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                <img class="head-image down circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                <img class="head-image down-right circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                <img class="head-image right circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                <img class="head-image up-right circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />
                <img class="head-image front circle" src="http://placehold.it/150x150" width="150" height="150" alt="" />

            </div>

            <!-- style for simple image profile -->
            <div class="circle-img" id="pic_prof_2"></div>

        </div>
        <!-- End Profile Image -->

        <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">

            <!-- Profile info -->
            <div id="profile_info">
                <h1 id="name" class="transition-02">{{ __('w_profile_name') }}</h1>
                <h4 class="line">
                    {{ __('w_profile_line') }}
                </h4>
                <h6><span class="fa fa-map-marker"></span>{{ __('w_profile_location')|raw }}</h6>
            </div>
            <!-- End Profile info -->


            <!-- Profile Description -->
            <div id="profile_desc">
                <p>
                    {{ __('w_profile_desc') }}
                </p>
            </div>
            <!-- End Profile Description -->


            <!-- Name -->
            <div id="profile_social">
                <h6>{{ __('w_profile_social') }}</h6>
                {% include 'block/social_button.twig' %}
            </div>
            <!-- End Name -->

        </div>

    </div>
</div>